<!DOCTYPE html>
<html>
    <head>
        <title>
            Mini-Flick
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    <style>
    h2{
      color: white;
    }
    body{
      background: url("/images/film_bg0.jpg");
      background-size:100%;
    }
    .review{
      background: #00cc00;
      color: white;
      border-radius: 10px;

    }
    .jumbotron .container{
      background: rgba(223, 240, 216, 1);
      border: 2px solid green;
      border-radius: 10px;
    }
    .container .jumbotron, .container-fluid .jumbotron{
          padding: 25px;
          background: #006699;

    }
    .input-group{
          padding-bottom: 20px;
    }
    .col-lg-2{
          width: 20%;
    }
    .navbar-default{
      border: 4px solid #ff8c1a;
      background: rgba(217, 237, 247, 0.9);
    }
    .navbar-default .navbar-brand{
      color: white;
      font-size: 30px;
      background: rgba(0, 103, 153, 0.5);
    }
    .navbar-default .navbar-nav>li>a{
      color: #ff3300;
      font-size: 20px;
    }
    </style>
    </head>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home"> Home </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentuser){ %>
                        <li><a href="/login">Login </li>
                        <li><a href="/register">Sign Up</a></li>
                    <% }else{ %>
                        <li><a href="#">Signed in as <%= currentuser.username %></a></li>
                        <li><a href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
