<% include  partials/header.ejs %>
<h1> Results for username "<%= key %>"</h1>
<ul>
    <% users.forEach(function(user){ %>
        <h3><li> <%= user.fname %> <%= user.lname %> <button class="btn btn-md btn-success" ><a href='/user/<%= user._id %>'> Visit Profile</a></button></li></h3>
        
    <% })%>
</ul>

<% include partials/footer.ejs %>
    